<footer class="pt-5">
  
  <section class="footer-details text-light ">
    <div class="container-xxl d-flex flex-column flex-sm-row gap-5 justify-content-between footer-wrapper flex-wrap">
      <div class="company_brief ">
        <div class="logo-img mb-xxl-4 mb-lg-2 mb-md-2 mb-sm-2 mb-2 company_logo" >
          <button routerLink="" class=""><img src="assets/icons/logo_white.png" class="img-fluid " alt="company logo"></button>
        </div>
        <h3 class="mb-2">DormDrive</h3>
        <p class="mb-xxl-4 mb-lg-2 mb-md-2 mb-sm-2 mb-2 company_details">Arrive Smarter, Faster and Better!</p>
  
      </div>

      <div class="other_pages d-flex flex-column gap-3">
        <h5>About Us</h5>

        <div class="about_us_links d-flex flex-column gap-3">
          <a routerLink="/about-us" class="disabled ">Our Values</a>
          <a routerLink="/contact-us" class="disabled ">Contacts</a>
          <a routerLink="/faqs" class="disabled ">FAQ</a>
          <a class="disabled ">Blog</a>
        </div>
        
      </div>

      <div class="service_areas">
        <h5>Service Areas</h5>
        <div class="d-flex flex-column">
          <a href="">FUPRE</a>
          <a href="">DELSU</a>
        </div>
      </div>

      <div class="legal d-flex flex-column gap-3">
        <h5>My Account</h5>
        <a href="/terms-and-conditions" class="text-light">Sign In</a>
        <a href="/privacy-policy" class="text-light">My Scheduled Rides</a>
        <a href="/privacy-policy" class="text-light">Ratings</a>
        <a href="/privacy-policy" class="text-light">Profile</a>
      </div>
    </div>

    <div class="d-flex justify-content-between  copyright container text-start px-3 mt-5 py-5 flex-wrap"><span class="copyright_text">Copyright © 2024 Shoptreo | All rights reserved.</span> <span class="d-flex gap-3 "><a href="https://www.facebook.com/profile.php?id=100073364060716&mibextid=ZbWKwL"><img src="assets/icons/facebook.png" alt="facebook link" class="img-fluid"></a><a href="https://www.linkedin.com/company/shoptreo-marketplace/"><img src="assets/icons/linkedIn.png" alt="linkedIn link" class="img-fluid"></a></span></div>
    
  </section>
</footer>
