<app-nav></app-nav>
<section class=" position-relative  about_hero d-flex align-items-end">
  <div class="container position-relative mb-5 z-3">
    <h1 class="fw-bolder text-light z-3">DormDrive -  The Student Daily Driver.</h1>
  </div>
  <div class="overlay"></div>

</section>

<section class="my-5">
  <div class="container">
    <h2 class="text-center mb-4" [style.color]="'var(--secondary-color)'">About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic delectus consequatur laboriosam eius sapiente esse quae ad minima tenetur laborum pariatur enim, cum vel autem iste, adipisci reprehenderit. Aliquam, deleniti. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor aliquid vel sed eos debitis fugit, excepturi alias nam, rem illo praesentium sapiente ut! Eum asperiores, distinctio deleniti sunt assumenda consequatur.
    Nemo ut et illo ea, laborum rem libero voluptatem exercitationem odit tempora repudiandae quo quis maiores fugiat perferendis deserunt molestiae nesciunt ratione amet eum quae vel ab! Et, rem impedit!
    Iure quod autem quidem nisi est, laudantium fugiat? Aperiam odit reiciendis officia numquam incidunt ducimus totam quasi. Earum quo ipsa vel voluptate esse inventore eveniet cum, illo deserunt nulla excepturi!
    At, hic maiores doloribus beatae corporis labore nobis suscipit quibusdam molestias omnis quisquam amet. Aperiam ad suscipit ea quod perferendis voluptate quos facere, vero illum assumenda obcaecati, iure error illo.</p>
  </div>
</section>

<section class="container d-flex gap-5 my-5 flex-wrap">
  <div class="mission_vision_cards p-5 d-flex flex-column gap-4" [style]="'background-color: #F5CCA0; border-radius: 0.8rem'">
    <h4 [style]="'color: var(--secondary-color)'">DormDrive's Vision</h4>
    <p [style]="'color: var(--secondary-color)'">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi ducimus harum ipsam fugit. Laudantium et temporibus veniam, omnis harum aliquid earum provident repudiandae in itaque at, eligendi animi beatae vitae?</p>
    <div class="w-100"><img src="assets/imgs/taxi_driver.png" alt="Female Taxi driver waiting for a client" class="img-fluid"></div>
  </div>
  <div class="mission_vision_cards p-5 d-flex flex-column gap-4" [style]="'background-color: var(--secondary-color); border-radius: 0.8rem'">
    <h4 class="text-light">DormDrive's Mission</h4>
    <p class="text-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi ducimus harum ipsam fugit. Laudantium et temporibus veniam, omnis harum aliquid earum provident repudiandae in itaque at, eligendi animi beatae vitae?</p>
    <div class="w-100"><img src="assets/imgs/smiley_man.png" alt="Smiling man" class="img-fluid"></div>
  </div>
</section>

<section class="container my-5 p-5" [style]="'background-color: var(--bg-grey); border-radius: 0.8rem'">
  <div class="our_values" [style.borderRadius]="'0.8rem'">
    <div class="card-header d-flex flex-column gap-3 align-items-start mb-4">
      <div class="value_card_img">
        <img src="assets/icons/gem.svg" alt="Values" class="img-fluid ">
      </div>
      <h4 [style.fontWeight]="'600'">Our Values</h4>
    </div>

    <div class="d-flex w-100 gap-5 flex-column flex-sm-row">
      <div class="w-50 small-width-100 pt-3">
        <h5 class="pb-2" [style.color]="'var(--secondary-color)'">Reliability</h5>
        <p class="mb-5">Count on us for prompt and efficient service. We're committed to getting you to your destination safely and on time, every time.</p>
        <h5 class="pb-2" [style.color]="'var(--secondary-color)'">Safety</h5>
        <p >Your safety is our priority. From thorough driver screenings to regular vehicle checks, we take every precaution to ensure your ride is as safe as possible. Ride with confidence knowing you're in good hands.</p>
      </div>
      <div class="w-50 small-width-100 pt-3">
        <h5 class="pb-2" [style.color]="'var(--secondary-color)'">Convenience</h5>
        <p class="mb-5">Getting around should be easy. With our user-friendly app and hassle-free booking process, getting a ride has never been simpler. Whether you need a ride now or later, we've got you covered.</p>
        <h5 class="pb-2" [style.color]="'var(--secondary-color)'">Community</h5>
        <p >We're more than just a ride – we're part of the community. We believe in giving back and supporting local initiatives. When you ride with us, you're supporting a company that cares about making a positive impact.</p>
      </div>
    </div>
    
    
  </div>
</section>

<app-footer></app-footer>