.about_hero{
  height: 80vh;
  background-image: url('/assets/imgs/about_us.png');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.value_card_img{
  width: 60px;
}
// .mission_vision_cards{
  
// }