<nav>
  <section class=" d-flex justify-content-between container-xxl  align-items-center">
    <div class="logo-img" >
      <button routerLink="" class=""><img src="assets/icons/LOGO.png" class="img-fluid " alt="company logo"></button>
    </div>

    <app-nav-links [style.fontWeight]="'600'" class="d-flex nav-links flex-row gap-5"></app-nav-links>

    <app-get-started-btn class="get_started_btn"></app-get-started-btn>
    <button *ngIf="hide === false" (click)="toggleMenu()" class="menu "><img src="assets/icons/menu.png" class="img-fluid" alt=""></button>
    <button *ngIf="hide != false" (click)="toggleMenu()" class="menu"><img src="assets/icons/menu.png" class="img-fluid" alt=""></button>
  </section>

  <section class="nav-sm text-center" [attr.data-visible]="hide">
    <app-nav-links [style.fontWeight]="'600'" class="d-flex nav-links-sm flex-column gap-4 mb-5"></app-nav-links>
  </section>
</nav>
