<nav>
  <section class=" d-flex justify-content-between container-xxl  align-items-center">
    <div class="logo-img" >
      <button routerLink="" class=""><img src="assets/icons/LOGO.png" class="img-fluid " alt="company logo"></button>
    </div>

    <app-nav-links [style.fontWeight]="'600'" class="d-flex nav-links flex-row gap-5"></app-nav-links>

    <!-- <a href="https://q31xe07v493.typeform.com/to/KIrjw0En" class="partner-btn">PARTNER WITH US</a> -->
    <!-- <button *ngIf="hide === false" (click)="toggleMenu()" class="menu"><img src="assets/icons/menu.png" alt=""></button> -->
    <!-- <button *ngIf="hide != false" (click)="toggleMenu()" class="menu-close"><img src="assets/icons/menu.png" alt=""></button> -->
  </section>

  <!-- <section class="nav-sm text-center" [attr.data-visible]="hide">
    <app-nav-links [style.fontWeight]="'600'" class="d-flex nav-links-sm flex-column gap-4 mb-5"></app-nav-links>

    <a data-bs-target="#exampleModalToggle" data-bs-toggle="modal" class="partner-btn-sm" (click)=" hide = false">PARTNER WITH US</a>
     <a href="https://q31xe07v493.typeform.com/to/KIrjw0En" class="partner-btn-sm">PARTNER WITH US</a> 
  </section> -->
</nav>
